.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(166, 38, 38, 1);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover {
  background-color: rgba(166, 38, 38, 0.9);
  border-color: rgba(166, 38, 38, 0.9);
  color: white;
}
.actions button:active,
.actions button:focus {
  background-color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 1);
  color: white;
}

.actions .button--alt {
  color: rgba(166, 38, 38, 1);
}

.actions .button {
  background-color: rgba(166, 38, 38, 1);
  color: white;
}

.cartList {
  overflow-y: scroll;
  min-height: 0rem;
  max-height: 18rem;
}
